<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body style="margin: 0px;padding: 0px;">
<div id="particles-js" style="position: absolute;z-index: -1;width: 100%;height: 90%;margin: 0px;padding: 0px;">
</div>
<hgroup>
    <h1>Web SSH Platform</h1>
</hgroup>
<form style="z-index: 9" method="POST" th:action="@{/login}" action="login">
    <div class="group">
        <input type="text" name="username"/><span class="highlight"></span><span class="bar"></span>
        <label>用户</label>
    </div>
    <div class="group">
        <input type="password" name="password"><span class="highlight"></span><span class="bar"></span>
        <label>密码</label>
    </div>
    <div style="color:red;" th:if="${param.error}" th:text="${session.SPRING_SECURITY_LAST_EXCEPTION.message}">用户名或密码错误!</div>
    <button type="submit" class="button buttonBlue">提&nbsp;交
        <div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
    </button>
</form>
<footer><a href="#" target="_blank"><img src="octopus.svg"></a>
    <p>You Gotta Love <a href="https://github.com/meteorice" target="_blank">Shawn Shi</a></p>
</footer>
<script src='js/jquery-2.2.3.min.js'></script>
<script src="js/particles.min.js"></script>
<script src="js/login.js"></script>


</body>

</html>